.menu__link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}
.menu__link:active{
    font-weight: bold;
    color: #333333;
}
.menu__link:hover{  
    text-decoration: underline;
}