@charset "UTF-8";

.banner__titulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    font-size: 5.0625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.589);
    text-align: center;
    transform: translate(-50%, -50%) ;
    width: 100vw;
    
}