@charset "UTF-8";

.cabecalho{
    width: 100vw;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .cabecalho{
        justify-content:center ;
        padding: 0 1rem;
    }

    .imagem__logo{
        display: none;
    }
}
