.receitas{
    background-color: var(--fundo-receita);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 5rem;
}
@media screen and (max-width:1279px) and (min-width:769px){
    .receitas{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:768px){
    .receitas{
        grid-template-columns: 1fr;
        padding: 2.5rem;
    }
}
