@charset "UTTF-8";

.pessoa__imagem{
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.pessoa__imagem--roberta{
    background-image: url(../../img/pessoas/roberta.jpg);
}

.pessoa__imagem--marcela{
    background-image: url(../../img/pessoas/marcela.jpg);
}

.pessoa__imagem--andreia{
    background-image: url(../../img/pessoas/andreia.jpg);
}