@charset "UTF-8";

.receita__botao{
    background-color: brown;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover{
    cursor: pointer;
    background-color: rgb(110, 28, 28);
}