@charset "UTF-8";

.receitas{
    background-color: #E5E5E5;
    padding: 5rem 0 0 5rem;
    display: flex; 
    flex-wrap: wrap;  
}

@media screen and (max-width: 768px){
    .receitas{
        padding: 5rem 0 0 1rem;  
    }
}