@charset "UTF-8";

.sobre__descricao{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    color:#8C8888;
}
@media screen and (max-width: 768px) {
    .sobre__descricao{
        font-size: 1.3rem;
    }
}
